<html>
{{ partial "head" . }}
<body>
     {{ partial "header.html" . }}

     <section class="content home-grid grid">
         <div class="home-grid__left-column">
              <div class="home-grid__image">
                    <img src="hero-plants.jpg" alt="Plants" />
                    <h1>plants</h1>
                    <div class="home-grid__gradient"></div>
               </div>
               <div class="container home-blog">
                    <p>i never know what to say</p>
                    {{ range where .Pages "Section" "blog" }}
                         {{ range .Pages }}
                              <a href="{{.URL}}">{{.Title}}</a>
                         {{ end }}
                    {{ end }}
               </div>
          </div>
          <div class="home-grid__right-column">
               <div class="plant-items">
                {{ range first 4 (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
                                      <section class="container index-list">
                         <div class="index-list__plant">
                              <div>
                                   <a href="{{.URL}}">{{.Title}}</a>
                              </div>
                              {{ with .Params.featured_image }}<div class="index-list__featured-image"><div class="index-list__gradient"></div><img src="{{ . }}"></div>{{ end }}
                         </div>
                    </section>
               {{ end }}
               </div>
          </div>
     </section>

     {{ partial "footer" . }}
</body>
</html>
