:root {
  --container: 1200px;
  --black: #3d3d3d;
  --white: rgb(255, 255, 255);
  --color-scheme-text-color: var(--black);
  --color-scheme-light-background: #909fb6;
  --color-scheme-background: var(--white);
  --green: #749c74;
  --font: 'PT Sans', Arial, sans-serif;

  @include screen-below($laptop-sm) {
    --container: 984px;
  }

  @include screen-below($tablet) {
    --container: 728px;
  }

  @include screen-below($portrait) {
    --container: 375px;
  }

  @include screen-below($mobile) {
    --container: 100%;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: var(--color-scheme-text-color);
  background: var(--color-scheme-background);
}

* {
  &:focus {
    color: var(--green);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  color: var(--color-scheme-text-color);
  background-color: var(--color-scheme-background);
  font-size: 18px;
  // padding: 0 106px 122px 0;
  padding: 0 0 122px 0;
  min-height: 100vh;

  // @include screen-below($portrait) {
  //   padding: 0 0 122px 0;
  // }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  @include hover {
    color: var(--green);
  }
}
