.plant-items {
    display: grid;
    // background: #00ff00;
}

.index-list {
    &__plant {
    position: relative;
    display: inline-block;

        img {
            width:200px;
            height: 200px;
            border-radius: 50%;
        }

        a {
            position: absolute;
            width: 140%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-transform: lowercase;
            white-space: nowrap;
            display: flex;
            align-items: center;
            padding: 0 0 0 70%;
            z-index: 2;
            text-shadow: 0 0 7px #fff;
        }
    }

    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 40%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 40%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 40%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
}
