<html>
{{ partial "head" . }}
<body>
  {{ partial "header" . }}

     <section class="container plant-single">
          <h1>{{.Title}}</h1>
          special single for plants
          <div>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
          <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          {{ with .Params.featured_image }}<div class="featured-image"><img src="{{ . }}"></div>{{ end }}
          <div>{{.Content}}</div>
          <!-- {{ if isset .Params "images" }} -->
          <h4>Plant images</h4>
            {{ range .Params.images }}
              <img src="/images/{{ . }}" />
              {{ end }}
          <!-- {{ end }} -->
     </section>
     {{ partial "footer" . }}
</body>
</html>
