.footer {
  padding: 40px 0;
  text-align: center;
  font-size: 12px;
  text-transform: lowercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 106px);

  @include screen-below($portrait) {
    width: 100%;
  }
}
