.grid {
  display: grid;
}

.grid-1-col {
  grid-template-columns: 1fr;
  grid-gap: 80px;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}
