.site-header {
  padding: 20px 5px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  h1 {
    color: var(--orange);
  }

  ul {
    writing-mode: vertical-rl;
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style: none;

    li {
      flex: 1;
    }

    a {
      display: block;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      text-transform: lowercase;

      &[aria-current="page"] {
        outline: 1px dashed var(--color-scheme-border);
      }
    }
  }

  &__skip-link {
    position: fixed;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s ease-in-out;

    &:focus {
      top: 0;
    }
  }
}
