.plant-single {
  img {
    width: 200px;
    height: auto;
  }

  &__featured-image {
    position: relative;

    img {
      border-radius: 50%;
      width:200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }
}
