<html>
{{ partial "head" . }}
<body>
  {{ partial "header.html" . }}
     <section class="container content">
          {{.Content}}
     </section>
     <section class="container index-list grid">
        {{ range .Pages }}
        <div class="index-list__plant">
            <div>
                  <a href="{{.URL}}">{{.Title}}</a>
            </div>
            {{ with .Params.featured_image }}<div class="index-list__featured-image"><div class="index-list__gradient"></div><img src="{{ . }}"></div>{{ end }}
        </div>
        {{ end }}
      </section>

     {{ partial "footer" . }}
</body>
</html>
